@keyframes text-focus-in-kf-ag {
  0% {
    filter: blur(12px);
    opacity: 0;
    letter-spacing: -0.5em;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
    letter-spacing: normal;
  }
}

.text-focus-in-ag {
  animation: text-focus-in-kf-ag 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
