body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    padding:40px;
}

.container{
    max-width:900px;
    margin:auto;
    background:white;
    padding:30px;
    border-radius:12px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th,td{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

th{
    background:#2563eb;
    color:white;
}

tr:nth-child(even){
    background:#f7f7f7;
}