.glitch-body {
  margin: 0;
  height: 100vh;
  background: #090d16;
  color: #06b6d4;
  font-family: 'Share Tech Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
}

.glitch-text {
  font-size: 3rem;
  position: relative;
  text-shadow: 2px 2px #ec4899;
}
