:root{

--bg:#07111f;
--glass:rgba(255,255,255,.12);
--border:rgba(255,255,255,.22);

--text:#ffffff;
--muted:#d8d8d8;

--c1:#6ee7ff;
--c2:#7c4dff;
--c3:#ff5ebc;
--c4:#6cffd3;

}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Segoe UI,sans-serif;
background:
radial-gradient(circle at top,#182d59,#07111f 70%);
height:100vh;

display:flex;
justify-content:center;
align-items:center;

overflow:hidden;

color:var(--text);

position:relative;

}

.background-blur{

position:absolute;
border-radius:50%;
filter:blur(90px);

opacity:.55;

animation:float 10s ease-in-out infinite;

}

.blur1{

width:280px;
height:280px;

background:#6ee7ff;

left:-70px;
top:-60px;

}

.blur2{

width:260px;
height:260px;

background:#ff4ecb;

right:-60px;
bottom:-60px;

animation-delay:3s;

}

.container{

perspective:1200px;

}

.badge-card{

position:relative;

width:360px;

padding:35px;

border-radius:26px;

background:var(--glass);

backdrop-filter:blur(24px);

border:1px solid var(--border);

overflow:hidden;

transform:rotate(-8deg);

transition:.45s;

box-shadow:
0 25px 60px rgba(0,0,0,.45);

}

.badge-card:hover{

transform:
rotate(0deg)
scale(1.05);

}