.p-cursor-body {
  margin: 0;
  height: 100vh;
  background: #090d16;
  color: #fff;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-box {
  padding: 32px;
  background: #1e293b;
  border-radius: 20px;
  border: 1px solid #3b82f6;
}
